@use '../vars';

.ProductInfo-card {
  width: 240px;
}
.ProductInfo-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.ProductInfo-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.ProductInfo-details figure {
  margin: 0;
}
.ProductInfo-details figure img {
  width: 35px;
  height: 35px;
}
.ProductInfo-details div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.ProductInfo-details div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

@media (max-width: 640px) {
  .ProductInfo-card {
    width: 140px;
  }
  .ProductInfo-card img {
    width: 140px;
    height: 140px;
  }
}